@{
    ViewData["Title"] = "Vehicle Rental";
}

<div class="hero">
    <div class="hero-content">
        <h1>Find your perfect ride</h1>
        <p>
            Explore our wide range of cars and enjoy the freedom of the open road.<br>
            Whether you're looking for a compact car for city driving or an SUV for a family adventure, we've got you covered.
        </p>
        <a asp-controller="Home" asp-action="Rent" class="btn btn-primary">Book Now</a>
    </div>
</div>
